<% provide :title, t("subjects.new.title") %>
<div class="col-lg-3">
  <%= render "layouts/side_bar" %>
</div>
<div class="col-lg-9">
  <h1><%= t "subjects.new.title" %></h1>
  <%= render "form" %>
</div>