<% provide :title, t("application.general.about") %>
<div class="about">
  <h1><%= t ".welcome" %></h1>
  <p><%= t ".about_info" %>
    <br>
    <span>
      <%= t ".social_network" %>
      <%= link_to t(".facebook"), "https://www.facebook.com/FramgiaVietnam/" %>
    </span>
  </p>
</div>
