.timer{
  position: fixed;
  top: 150px;
  border: 1px solid #e6e6e6;
  background-color: #ffffcc;
}

#clock{
  font-size: 50px;
}

.show_score{
  color: blue;
  font-size: 1.5em;
  font-weight: bold;
}
