.navbar-inverse {
  background-color: #F8F8F8 !important;
  border-color: #E7E7E7 !important;
  .navbar-right {
    li {
      a {
        color: #777 !important;
        &:hover {
          color: #333 !important;
          text-decoration: none !important;
        }
      }
    }
  }
}

a #logo {
  color: #333 !important;
}

.open {
  a {
    background-color: #F8F8F8 !important;
  }
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px #E7E7E7;
  color: #777;
  a {
    color: #777;
    &:hover {
      color: #333;
      text-decoration: none !important;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
