<footer class="footer">
  <div class="col-md-4">
    <small>
      <p><%= t "application.general.footer" %></p>
    </small>
  </div>
  <div class="col-md-4">
    <%= render_shareable buttons: ["twitter", "facebook", "google_plus"] %> 
  </div>
  <div class="col-md-2">
    <nav>
      <ul>
        <li>
          <%= link_to t("application.general.about"), static_page_about_path %>
        </li>
      </ul>
    </nav>
  </div>
</footer>
